<html>

  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script>
      // Define a new component called button-counter
      Vue.component('value-generator', {
        data: function () {
          return {
            count: 0
          }
        },
        mounted(){
          this.$root.$on('generation-requested', () => {
            console.log('event received');
          })
        },
        methods: {
          generate: function(){
            this.$root.$emit('generation-requested')
          }
        },
        template: `
        <div class="row">
          <div class="col">
            <input type="text"></input>
            <button v-on:click="generate">
              Generate
            </button>
          </div>
        </div>`
      })

      Vue.component('value-item', {
        props: ["value"],
        methods: {
          remove: function(e){
            this.$root.$emit('item-removed', this.value)
          }
        },
        template: `<div class="row">
          <div class="col">{{ value  }}</div>
          <div class="col">
            <button v-on:click="remove">
              Remove
            </button>
          </div>
        </div>`
    })

      Vue.component('value-input', {
        props: ['itemValue'],
        methods: {
          add: function(e){
            this.$root.$emit('item-added', this.itemValue)
          }
        },
        template: `<div class="row">
          <div class="col">
            <input type="text"
                  v-model="itemValue"
                  placeholder="next value">
            </input>
          </div>
          <div class="col">
            <button v-on:click="add">
              Add
            </button>
          </div>
        </div>`
      })

    </script>
  </head>
  <body>
    <div class="container">
      <div id="app">
        <value-generator></value-generator>
        <value-item
            v-for="item in items"
            v-bind:key="item.value"
            v-bind:value="item.value">
        </value-item>
        <value-input></value-input>
      </div>
    </div>
    <script>
      let v = new Vue({ 
        el: '#app',
        mounted(){
          this.$root.$on('item-removed', (e) => {
            this.items = this.items.filter(item => (item.value != e));
          })
          this.$root.$on('item-added', (e) => {
            this.items.push(e)
          })
        },
        data: {
          items: [{
            value: 'Andy Rea'
          },{
            value: 'Andy Stone'
          }]
        },
      })
    </script>
  </body>
</html>
